/* CSS Document */
.navigation 
{
	margin-top: 10px;
}

#spatula_thumbnail
{
	float:left;
}

#navMenu
{
	float:left;
}

#content 
{
	float: left;
	width: 75%;
	padding-left: 20px;
}

#spatula_name{
	float:left;
}

#add_to_cart{
	float:right;
}

#spatula_results
{
	width:100%;
}

#spatula_results td
{
	border-style:solid;
	text-align:left;
}

#spatula_results tr:first-of-type th
{
	border-style:none;
}

#filter_list li 
{
	list-style-type: none;
	border-style: outset;
}

#spatula_list th 
{
	text-align: left;
}

#shopping_cart td
{
	text-align:left;
}

.expanded li
{
	border-style: inset;
}

ul 
{
	-webkit-padding-start: 0px;
}
